<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>마켓 컬리</title>
    <link rel="stylesheet" href="../static/css/base-style.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/section1.css">

    <link rel="stylesheet" href="../static/js/common.js">
    <link rel="stylesheet" href="../static/js/polify.js">
    <link rel="stylesheet" href="../static/js/thefarmer.js">
    <link rel="stylesheet" href="../static/js/ui.js">
  </head>
  <body>
    <div id="root"></div>
    <script src="../static/vendor/vue/dist/app.js"></script>
  </body>
</html>